
div.box{
	
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
	 
}

body {
	
	margin: 0px;
	font-family: arial;
	
}


#kopf{
	
	background-color: #3b3c36;
	height: 70px;
		
}

#kopf a{
	
	color: white;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	display: inline-block;
	margin-top:  18px;
	margin-left: 10px;
	
}

#abmelden{
	position:absolute;
	right: 10px;
	top: 21px;
}

#menu a {
	
	text-decoration: none;
	color: #3b3c36;
	
}

#menu div{
	flex-grow: 1;
	flex-basis: 100px;
	text-align: center;
}

#menu{
	display: flex;
	flex-wrap: wrap;
	
}

#menu div:hover {
	background-color: #ecf0f1;
	
}

#menu .current a{
	font-weight: bold;
}

#Sensoren{
margin-top: 20px

}

#MQTT{
margin-top: 20px

}

#Wifi{
margin-top: 20px

}


#sensors { 
border-top: solid 5px lightgreen;
}

#wifi{ 
border-top: solid 5px red;
}

#mqtt{ 
border-top: solid 5px orange;
}

#reboot { 
border-top: solid 5px lightblue;
}

#update { 
border-top: solid 5px lightpink;
}

#reset{ 
border-top: solid 5px yellow;
}